@model Lab3.Models.Person;

@{
    ViewData["Title"] = "DisplayPerson - Lab3";
}


<body>
    <h1>Your Favourite Person</h1>
    <table>
        <tbody>
            <tr>
                <td style="text-align: right">First Name: </td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td style="text-align: right">Last Name: </td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td style="text-align: right">Age: </td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td style="text-align: right">Email Address: </td>
                <td>@Model.EmailAddress</td>
            </tr>
            <tr>
                <td style="text-align: right">Date Of Birth: </td>
                <td>@Model.DateOfBirth</td>
            </tr>
            <tr>
                <td style="text-align: right">Description: </td>
                <td>@Model.Description</td>
            </tr>
        </tbody>
    </table>
</body>
